.App {
  text-align: center;
}
h1 {
  font-family: "Limelight", cursive;
}
body {
  overflow: hidden;
  background-color: #142850;
}
.capa4 {
  background-color: #00a8cc;
  max-height: 100vh;
}
.capa3 {
  background-color: #0c7b93;
  height: 100vh;
}
.capa2 {
  background-color: #27496d;
  height: 100vh;
}
.capa1 {
  background-color: #142850;

  height: 100vh;
}
.capa5 {
  background-color: #2d9db6;
  height: 100vh;
}
